<h2>Produtos da Categoria</h2>

<% if @products.empty? %>
	<p>Não foi encontrado nenhum produto dessa Categoria </p>
	<!--seguranca CSS(se colocar raw antes dos params)  <script> alert("A");</script>   -->
	<%end%>
  <div class="row">
    <% @products.each do |p| %>
      <div class="col-sm-3 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
              <p> 
              <p><h4><%= p.name %></h4></p>
              <a href="#" class="thumbnail">
              <%= image_tag p.image %>
              </a>
              <p> <%= p.description %></p> 
              <p> R<%= number_to_currency(p.price) %> </p>
              <a href="#" class="btn btn-danger"> Comprar</a>
              <%= link_to  "Detalhes", main_produto_path( p), :class => 'btn btn-primary' %> 
              </p>
            </div>
        </div>
     </div>
    <% end %>
  </div>

  <%= link_to  "Voltar", root_path, :class => 'btn btn-success' %> 
