// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-text > a {
	color: inherit;
	text-decoration: none;
}
body {
		padding-top: 70px;
		padding-bottom: 100px;
}

.carousel {
	padding-bottom: 50px;
	width: 90%;
	margin: 0 auto; 

	max-height: 265px;	
	max-height: 265px;
 	overflow: hidden;

  .item img {
    max-height: 250px;
    width: 100%;
    }
}

.conteudo {
	padding-top: 30px;
}