        <div class="panel panel-default">
            <div class="panel-body">
              <p>
              <p><h4><%= product.name %></h4></p>
              <a href="#" class="thumbnail">
              <%= image_tag product.image %>
              </a>
              <p> <%= product.description %></p> 
              <p> R<%= number_to_currency(product.price) %> </p>
              <a href="#" class="btn btn-danger"> Comprar</a>
           <!--   <a  <  class="btn btn-primary"> Detalhes </a>  -->
              <%= link_to  "Detalhes", main_produto_path(product), :class => 'btn btn-primary' %> 
              </p>
            </div>
        </div>