<%= form_for(@encomenda) do |f| %>
  <% if @encomenda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@encomenda.errors.count, "error") %> prohibited this encomenda from being saved:</h2>

      <ul>
      <% @encomenda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :endereco %><br>
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :cartao_credito %><br>
    <%= f.text_field :cartao_credito %>
  </div>
    
 <!--   <%#= current_normal_user.email :cliente %> -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
